* {
    box-sizing: border-box;
    margin: 0 auto;
}

header{
    height: 100px;
    width: 100%;
    background-color: rgba(140, 184, 192, 0.945);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 4.0rem;
    line-height: 4.0rem;
    color: rgb(72, 222, 248, 0.945);
    text-align: center;
    margin-left: 860px;
    margin-bottom: 2px 2px 2px 2px;
    text-shadow: 1px 4px rgb(2, 1, 8);  
}

span {
    font-family: fantasy;
    margin-right: 30px;
    margin-top: 22px;
    padding: 15px 15px 15px 30px;
    float: right;
    width: 10%;
    color: rgb(0, 0, 0);
}


#inicio {
    background: url(../img/imagem.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(75, 232, 238);
    height: 860px;
    width: 100%;
    max-height: 700px;
    margin: 0 auto;
    padding: 0 auto;
    opacity: 1;
}

.footer{
    width: 100%;
    background-color: rgb(89, 98, 177);
    height: 95px;
    padding: 20px;
    color: rgb(138, 245, 245);
}
.icones {
    margin-right: 30px;
    margin-top: auto;
    float: right;
    padding-bottom: 2px 2px 2px 2px;
    border: 0 auto;
    width: 20px;
}

.copy{
    margin-left: 50px;
    margin-top: auto;
}